<div class="container-fluid">
  <nav class="teal darken-4">
    <div class="nav-wrapper">
      <ul>
        <li><a href="sass.html"><i class="fab fa-facebook"></i></a></li>
        <li><a href="badges.html"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="sass.html"><i class="fab fa-youtube-square"></i></a></li>
        <li><a href="sass.html"><i class="fab fa-instagram"></i></a></li>
      </ul>
      <!-- Se muestra el Menu solo en Escritorio o pantallas Grandes-->
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn orange darken-4">Registro</a></li>
        <li><a class="waves-effect waves-light btn teal darken-3">Iniciar Seccion</a></li>
      </ul>
      <!-- Se muestra el Menu solo para Mobiles-->
      <ul class="right hide-on-large-only">
        <li><a class="waves-effect waves-light btn orange btn-floating darken-4">
          <i class="material-icons">dock</i>
        </a></li>
        <li><a class="waves-effect waves-light btn teal btn-floating darken-3">
          <i class="material-icons">person_pin</i>
        </a></li>
      </ul>
    </div>
  </nav>
</div>

