<div class="page-footer palevioletred darken-4">
  <div class="container">
      <div class="row">
          <div class="col s12 m4 l4 ">
              <span><strong>Clientes</strong></span>
              <ul>
                <li><a class="grey-text text-lighten-3">En cartelera</a></li>
                <li><a class="grey-text text-lighten-3">Proximamente</a></li>
                <li><a class="grey-text text-lighten-3">Preventa</a></li>
                <li><a class="grey-text text-lighten-3">Escribenos</a></li>
              </ul>
          </div>

          <div class="row">
            <div class="col s12 m4 l4 ">
                <span><strong>Proveedores</strong></span>
                <ul>
                  <li><a class="grey-text text-lighten-3">Nosotros</a></li>
                  <li><a class="grey-text text-lighten-3">Salas y Formatos</a></li>
                  <li><a class="grey-text text-lighten-3">Terminos y Condiciones</a></li>
                  <li><a class="grey-text text-lighten-3">Trabaja con Nosotros</a></li>
                </ul>
            </div>

            <div class="row">
              <div class="col s12 m4 l4 ">
                  <span><strong>Visitantes</strong></span>
                  <ul>
                    <li><a class="grey-text text-lighten-3">Linea Directa</a></li>
                    <li><a class="grey-text text-lighten-3">Encuesta</a></li>
                    <li><a class="grey-text text-lighten-3">Publicidad</a></li>
                    <li><a class="grey-text text-lighten-3">Eventos</a></li>
                  </ul>
              </div>
      </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
        Copyright © 2020 - William J. Mosquera Machado - Todos los derechos reservados
    </div>
  </div>
</div>
