<div class="row white">
  <div class="col s12">
    <div class="row">
      <h4 class="center-align">Proximos Estrenos</h4>
    </div>
    <div class="row">
      <div class="col s12 m2 l2 card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/img/posters/stars.jpg">
        </div>
        <div class="card-content">
          <a href="#"><i class="fas fa-heart"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fas fa-bookmark"></i></a>
          <a href="#"><i class="fas fa-language"></i></a>
          <a href="#"><i class="fas fa-share-alt"></i></a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            Nombre Pelicula
            <i class="material-icons">close</i>
          </span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod atque fugit nihil assumenda harum hic modi rerum aliquid commodi tempora sunt labore quos quae repudiandae quam, eum ullam? Id, eius.</p>
        </div>
      </div>

      <div class="col s12 m2 l2 card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/img/posters/what_if.jpg">
        </div>
        <div class="card-content">
          <a href="#"><i class="fas fa-heart"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fas fa-bookmark"></i></a>
          <a href="#"><i class="fas fa-language"></i></a>
          <a href="#"><i class="fas fa-share-alt"></i></a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            Nombre Pelicula
            <i class="material-icons">close</i>
          </span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod atque fugit nihil assumenda harum hic modi rerum aliquid commodi tempora sunt labore quos quae repudiandae quam, eum ullam? Id, eius.</p>
        </div>
      </div>

      <div class="col s12 m2 l2 card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/img/posters/wonder_woman.jpg">
        </div>
        <div class="card-content">
          <a href="#"><i class="fas fa-heart"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fas fa-bookmark"></i></a>
          <a href="#"><i class="fas fa-language"></i></a>
          <a href="#"><i class="fas fa-share-alt"></i></a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            Nombre Pelicula
            <i class="material-icons">close</i>
          </span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod atque fugit nihil assumenda harum hic modi rerum aliquid commodi tempora sunt labore quos quae repudiandae quam, eum ullam? Id, eius.</p>
        </div>
      </div>

      <div class="col s12 m2 l2 card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/img/posters/venom.jpg">
        </div>
        <div class="card-content">
          <a href="#"><i class="fas fa-heart"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fas fa-bookmark"></i></a>
          <a href="#"><i class="fas fa-language"></i></a>
          <a href="#"><i class="fas fa-share-alt"></i></a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            Nombre Pelicula
            <i class="material-icons">close</i>
          </span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod atque fugit nihil assumenda harum hic modi rerum aliquid commodi tempora sunt labore quos quae repudiandae quam, eum ullam? Id, eius.</p>
        </div>
      </div>

      <div class="col s12 m2 l2 card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/img/posters/pacific-rim.jpg">
        </div>
        <div class="card-content">
          <a href="#"><i class="fas fa-heart"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fas fa-bookmark"></i></a>
          <a href="#"><i class="fas fa-language"></i></a>
          <a href="#"><i class="fas fa-share-alt"></i></a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            Nombre Pelicula
            <i class="material-icons">close</i>
          </span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod atque fugit nihil assumenda harum hic modi rerum aliquid commodi tempora sunt labore quos quae repudiandae quam, eum ullam? Id, eius.</p>
        </div>
      </div>

      <div class="col s12 m2 l2 card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../../../assets/img/posters/mostruos_vs_alienigenas.jpg">
        </div>
        <div class="card-content">
          <a href="#"><i class="fas fa-heart"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fas fa-bookmark"></i></a>
          <a href="#"><i class="fas fa-language"></i></a>
          <a href="#"><i class="fas fa-share-alt"></i></a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            Nombre Pelicula
            <i class="material-icons">close</i>
          </span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod atque fugit nihil assumenda harum hic modi rerum aliquid commodi tempora sunt labore quos quae repudiandae quam, eum ullam? Id, eius.</p>
        </div>
      </div>
    </div>
  </div>
</div>

