<div class="row">
  <div class="carousel">
    <a class="carousel-item"><img src="../../../assets/img/promociones/1.png" alt="Image"></a>
    <a class="carousel-item"><img src="../../../assets/img/promociones/2.jpeg" alt="Image"></a>
    <a class="carousel-item"><img src="../../../assets/img/promociones/3.jpg" alt="Image"></a>
    <a class="carousel-item"><img src="../../../assets/img/promociones/4.png" alt="Image"></a>
    <a class="carousel-item"><img src="../../../assets/img/promociones/5.jpg" alt="Image"></a>
    <a class="carousel-item"><img src="../../../assets/img/promociones/6.jpg" alt="Image"></a>
    <a class="carousel-item"><img src="../../../assets/img/promociones/7.jpg" alt="Image"></a>
    <a class="carousel-item"><img src="../../../assets/img/promociones/8.jpg" alt="Image"></a>
  </div>
</div>
