<div class="filter">
  <div class="row blue-grey lighten-4 ">
    <h6 class="center-align"><strong>Compra tus entradas On-line</strong></h6>
    <div class="input-field col s12 m3 l3">
      <select>
        <option value="" selected>Fecha</option>
        <option value="">1.2.3</option>
        <option value="">1.2.3</option>
        <option value="">1.2.3</option>
        <option value="">1.2.3</option>
      </select>
    </div>

    <div class="input-field col s12 m3 l3">
      <select>
        <option value="" selected>Pelicula</option>
        <option value="">1.2.3</option>
        <option value="">1.2.3</option>
        <option value="">1.2.3</option>
        <option value="">1.2.3</option>
      </select>
    </div>

    <div class="input-field col s12 m3 l3">
      <select>
        <option value="" selected>Formato</option>
        <option value="">1.2.3</option>
        <option value="">1.2.3</option>
        <option value="">1.2.3</option>
        <option value="">1.2.3</option>
      </select>
    </div>

    <div class="input-field col s12 m3 l3">
      <select>
        <option value="" selected>Hora</option>
        <option value="">1.2.3</option>
        <option value="">1.2.3</option>
        <option value="">1.2.3</option>
        <option value="">1.2.3</option>
      </select>
    </div>
  </div>
</div>
